<!DOCTYPE html>
<html>
<nav class = "navigation">
  <left_options class = 'move_left'>
    <%= link_to 'Home', businesses_path,  :class => 'link-color' %>

    <%= link_to 'About', '', :class => 'link-color'%>
  </left_options>

  <right_option class = 'move_right'>
    <%= link_to 'Log out', logout_path, :class => 'link-color' %>
  </right_option>
</nav>


  <head>
    <title>Foodproject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class = "background">
  <div class="container">
	  <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
   </div> 
  </body>
</html>
