<%= form_for([@business, @food]) do |f| %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<table class = "table">
  <tbody>

  <tr>
        <td>  <%= f.label :fooditem %> <%= f.text_field :fooditem %> </td>
         <td> <%= f.label :foodtype %> <%= f.text_field :foodtype %> </td>
    </tr>
    
    <tr>
    <tr>
        <td colspan="2">  <%= f.label :expiration %> <%= f.text_field :expiration, :id => "datepicker" %> </td>

        <script>
            $('#datepicker').datepicker({format: 'yyyy-mm-dd',
              startDate: "today",
              clearBtn: true,
              autoclose: true,
              todayHighlight: true
              });
        </script>
    </tr>
    
    <tr>
      <td>  <%= f.label :pickupstart %> <%= f.datetime_select :pickupstart %> </td>
     

        <div class="form-group" id="post_date_time">
              <%= f.label :pickupstart, "DATE & TIME" %>
              <div class='input-group date' id='datetimepicker'>
                <%= f.text_field :pickupstart, :class => "form-control"%>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
            <script type="text/javascript">
              $(function () {
                $('#datetimepicker').datetimepicker();
              });
            </script>



       <td> <%= f.label :pickupend %> <%= f.datetime_select :pickupend %> </td>
    </tr>
    <tr>
      <td colspan="2">  <%= f.label :specialnote %> <%= f.text_area :specialnote %> </td>
    </tr>
  </tbody>
</table>
  <div class="actions">
    <%= f.submit 'Update Info', :class => 'button' %>
  </div>
<% end %>
