<%= form_for([@business, @food]) do |f| %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>





<table class = "table">
  <tbody>

  <tr>
        <td>  <%= f.label :fooditem %> <%= f.text_field :fooditem %> </td>
         <td> <%= f.label :foodtype %> <%= f.text_field :foodtype %> </td>
    </tr>
    
    <tr>
    <tr>
        <td colspan="2">  <%= f.label :expiration %> <%= f.date_select :expiration %> </td>
    </tr>
    
    <tr>
      <td>  <%= f.label :pickupstart %> <%= f.datetime_select :pickupstart %> </td>
       <td> <%= f.label :pickupend %> <%= f.datetime_select :pickupend %> </td>
    </tr>
    <tr>
      <td colspan="2">  <%= f.label :specialnote %> <%= f.text_area :specialnote %> </td>
    </tr>
  </tbody>
</table>



  <div class="actions">
    <%= f.submit 'Update Info', :class => 'button' %>
  </div>
<% end %>
