<p id="notice"><%= notice %></p>

<p>
  <strong>Fooditem:</strong>
  <%= @food.fooditem %>
</p>

<p>
  <strong>Foodtype:</strong>
  <%= @food.foodtype %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @food.expiration %>
</p>

<p>
  <strong>Pickupstart:</strong>
  <%= @food.pickupstart %>
</p>

<p>
  <strong>Pickupend:</strong>
  <%= @food.pickupend %>
</p>

<p>
  <strong>Specialnote:</strong>
  <%= @food.specialnote %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
