<%= form_for(business) do |f| %>
  <% if business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% business.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class = "table">
  <thead>
  <tr>
    
    <center> 
    <% if business.orgType == nil %>
        <th colspan="4" style="text-align: center;"> 
            <%= f.label 'I am a' %> 
            <%= f.select :orgType, [ 'Business' , 'Food Distribution Center'],{prompt: "Select..."}, :class => 'business_type' %>
          </th>
      <% else %>
          <th colspan="4" style="text-align: center;" > 
            <%= f.label 'I am a' %> 
            <%=  business.orgType %> 
          </th>
      <%= f.select :orgType, [ 'Business' , 'Food Distribution Center', '576576'],{prompt: "Select..."}, :class => 'business_type', style: "visibility:hidden"%>
    <% end %>

    </center> 
    

    </tr>
  </thead>
  <tbody class = "table_body">

  <tr>
          <td>
            <%= f.label 'Business Name', :class=>'business_display' %>
            <%= f.label 'Chrity Name', :class=>'charity_display'%>
            <%= f.text_field :name , :style=> "color:black"%> 
        </td>
         <td> 
            <%= f.label 'Type of Business', :class=>'business_display' %>
            <%= f.label 'Type of Charity', :class=>'charity_display' %>
            <%= f.text_field :business_type %>
         </td>

    </tr>
    
    <tr>
    <tr>
        <td>  <%= f.label 'Address' %> <%= f.text_field :addLine1 %> 
              <%= f.label ' ' %> <%= f.text_field :addLine2 %> </td>
         <td> <%= f.label 'Primary Email' %> <%= f.text_field :email1 %> </td>
    </tr>
    
    <tr>
      <td>  <%= f.label 'City' %> <%= f.text_field :addCity %>
            <%= f.label 'State' %> <%= f.text_field :addState %>
            <%= f.label 'Zip Code' %> <%= f.number_field :addZip %> </td>
       <td> <%= f.label 'Secondary Email' %> <%= f.text_field :email2 %></td>
    </tr>
    <tr>
      <td>  <%= f.label 'Primary Phone' %> <%= f.number_field :phone %> </td>
      <td>  <%= f.label 'Website' %> <%= f.text_field :website %> </td>
    </tr>
  </tbody>
</table>


  <div class="actions">
    <%= f.submit 'Update Info', :class => 'button' %>
  </div>
<% end %>
