<p id="notice"><%= notice %></p>

<h1>Businesses</h1>

<table>
  <thead>
    <tr>
      <th>Fooditem</th>
      <th>Foodtype</th>
      <th>Expiration</th>
      <th>Pickupstart</th>
      <th>Pickupend</th>
      <th>Specialnote</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.fooditem %></td>
        <td><%= business.foodtype %></td>
        <td><%= business.expiration %></td>
        <td><%= business.pickupstart %></td>
        <td><%= business.pickupend %></td>
        <td><%= business.specialnote %></td>
        <td><%= link_to 'Show', business %></td>
        <td><%= link_to 'Edit', edit_business_path(business) %></td>
        <td><%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business', new_business_path %>
