<p id="notice"><%= notice %></p>

<p>
  <strong>Orgtype:</strong>
  <%= @business.orgType %>
</p>

<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @business.type %>
</p>

<p>
  <strong>Addline1:</strong>
  <%= @business.addLine1 %>
</p>

<p>
  <strong>Addline2:</strong>
  <%= @business.addLine2 %>
</p>

<p>
  <strong>Addcity:</strong>
  <%= @business.addCity %>
</p>

<p>
  <strong>Addstate:</strong>
  <%= @business.addState %>
</p>

<p>
  <strong>Addzip:</strong>
  <%= @business.addZip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @business.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @business.website %>
</p>

<p>
  <strong>Email1:</strong>
  <%= @business.email1 %>
</p>

<p>
  <strong>Email2:</strong>
  <%= @business.email2 %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
